
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    
    body {
        font-family:Arial, Helvetica, sans-serif;
        color: hsl(234, 12%, 34%);
        background-color: hsla(180, 33%, 96%, 0.384);
    }
    
    .heading {
        text-align: center;
        font-size: 27px;
        color: hsl(229, 6%, 66%);
        padding: 50px 0px 5px 0px;
    }

    .sub-heading {
        text-align: center;
        font-size: 28px;
        font-weight:700;
        padding: 5px;
    }

    .text {
        text-align: center;
        font-size: 13px;
        padding: 10px;
    }

    p {
        font-size: 12px;
        line-height: 1.5;
    }


    .card-section {
        color: hsl(229, 6%, 66%);
        display: flex;
        justify-content: center;
       height: 30%;
       width: 70%;
       align-items:center;
       margin-left: 15%;
    }


    .card {
        width: 200px;
        height: 150px;
        background-color: rgb(255, 255, 255);
        border-radius: 3%;
        padding: 10px 20px;
        margin: 10px;
        box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.041)
    }

  .mid-cards {
        width: 200px;
        height: 150px;
        background-color: rgb(255, 255, 255);
        border-radius: 3%;
        padding: 10px 20px;
        margin: 20px 10px;
        box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.041)
  }

  h4 {
  margin:  10px 2px;
  color: rgba(0, 0, 0, 0.712);
  }

  hr {
    position: relative;
    right: 20px;
    bottom: 19px;
    border-radius: 3;
  }

  .icon {
    width: 36px;
    height: 36px;
    position: relative;
    top: 10px;
    left: 160px;
  }

  @media (max-width: 375px) {
   .card-section {
    display: block;
    margin-top: 40px;
   } 

  .text {
    font-size: 11.5px;
    line-height: 1.5;
    text-align: center;
  }



  }